In [1]:
from astroquery.gaia import Gaia

def get_data(query):
    job = Gaia.launch_job_async(query)

    gtable = job.get_results()

    return gtable

In [2]:
query_galaxy = "SELECT TOP 15000 dr3.source_id, dr3.random_index, dr3.ra, dr3.dec, dr3.b, dr3.parallax, dr3.pm, dr3.phot_g_mean_mag, dr3.bp_g, dr3.g_rp,\
                dr3.astrometric_chi2_al, dr3.astrometric_n_good_obs_al, dr3.phot_g_n_obs, dr3.phot_g_mean_flux_over_error,\
                p.classprob_dsc_allosmod_quasar AS quasar, p.classprob_dsc_allosmod_galaxy AS galaxy,\
                p.classprob_dsc_allosmod_star AS star\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al > 5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_galaxy > 0.999\
        AND dr3.phot_g_mean_mag > 14.5\
        AND 0.3 + 1.1*dr3.bp_g - 0.29*POWER((dr3.bp_g),2) < dr3.g_rp\
        ORDER BY dr3.random_index"

query_quasar = "SELECT TOP 15000 dr3.source_id, dr3.random_index, dr3.ra, dr3.dec, dr3.b, dr3.parallax, dr3.pm, dr3.phot_g_mean_mag, dr3.bp_g, dr3.g_rp,\
                dr3.astrometric_chi2_al, dr3.astrometric_n_good_obs_al, dr3.phot_g_n_obs, dr3.phot_g_mean_flux_over_error,\
                p.classprob_dsc_allosmod_quasar AS quasar, p.classprob_dsc_allosmod_galaxy AS galaxy,\
                p.classprob_dsc_allosmod_star AS star\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al >5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_quasar > 0.999\
        AND dr3.phot_g_mean_mag > 14.5\
        ORDER BY dr3.random_index"

query_star = "SELECT TOP 15000 dr3.source_id, dr3.random_index, dr3.ra, dr3.dec, dr3.b, dr3.parallax, dr3.pm, dr3.phot_g_mean_mag, dr3.bp_g, dr3.g_rp,\
                dr3.astrometric_chi2_al, dr3.astrometric_n_good_obs_al, dr3.phot_g_n_obs, dr3.phot_g_mean_flux_over_error,\
                p.classprob_dsc_allosmod_quasar AS quasar, p.classprob_dsc_allosmod_galaxy AS galaxy,\
                p.classprob_dsc_allosmod_star AS star\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al >5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_star > 0.999\
        AND dr3.phot_g_mean_mag > 14.5\
        ORDER BY dr3.random_index"

In [4]:
from astropy.table import Table, vstack

# data = vstack([get_data(query_galaxy), get_data(query_quasar), get_data(query_star)], join_type='exact')

In [8]:
data.write('train.dat', format='ascii', overwrite=True)

In [4]:
data = data.to_pandas()

In [5]:
data

,SOURCE_ID,random_index,ra,dec,b,parallax,pm,phot_g_mean_mag,bp_g,g_rp,astrometric_chi2_al,astrometric_n_good_obs_al,phot_g_n_obs,phot_g_mean_flux_over_error,quasar,galaxy,star
0,1265515347877933440,10075,222.274888,22.198161,62.881857,-0.336690,0.717317,17.933859,-2.318183,3.621396,2874.529297,557,540,134.341766,2.242062e-11,1.000000e+00,1.096192e-10
1,5361196917262946432,15072,162.225588,-49.752394,8.437576,-0.036707,5.728018,19.842285,-2.758350,4.355935,163.854965,119,103,77.483009,9.393035e-12,9.991883e-01,8.117138e-04
2,1232222032709253760,21887,214.149981,16.513552,67.616105,1.771744,2.912953,20.476004,-1.030676,2.346783,500.056610,211,261,91.175278,2.140544e-05,9.999388e-01,3.978026e-05
3,1508859364417098624,48386,210.664719,46.206344,66.287072,-0.299802,0.610444,18.904287,-1.698452,2.988806,1701.720337,393,523,102.935295,6.760223e-08,9.999999e-01,2.498582e-08
4,1253126291374182656,54587,215.173045,23.288794,69.478863,2.060775,1.578079,20.626930,-0.997219,2.439833,862.204041,228,230,67.853203,1.332725e-04,9.997067e-01,1.600439e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,798699510005332992,20768,142.166260,36.080176,46.400867,0.598113,4.238909,15.701245,0.354796,0.532033,669.262451,574,618,4030.376709,3.373688e-21,6.659555e-14,1.000000e+00
44996,4163362729188159872,20769,263.905981,-10.686310,11.507812,2.979510,6.988815,18.790358,2.098303,1.325678,458.579254,420,421,511.349396,4.188684e-08,6.529972e-13,9.999999e-01
44997,5831750373114766464,20771,248.226685,-59.370620,-7.739673,-0.705903,9.448939,20.618759,1.018898,0.902412,182.400208,214,221,134.465057,1.110516e-07,3.039377e-09,9.999999e-01
44998,271282778801944576,20772,67.763294,51.961339,2.511793,0.958778,1.884949,19.848635,1.042885,1.225681,296.191742,281,294,278.039459,8.449613e-09,9.102432e-10,1.000000e+00
44999,4545990267387764096,20773,256.714220,15.498634,29.983933,1.492376,21.780304,18.667566,1.262180,1.094734,563.000427,526,540,706.895935,5.027729e-10,7.974982e-09,1.000000e+00

In [6]:
data['classification'] = data[['quasar', 'galaxy', 'star']].idxmax(axis=1, skipna = True)

In [15]:
data[data['classification'] == 'quasar']

,SOURCE_ID,random_index,ra,dec,b,parallax,pm,phot_g_mean_mag,bp_g,g_rp,astrometric_chi2_al,astrometric_n_good_obs_al,phot_g_n_obs,phot_g_mean_flux_over_error,quasar,galaxy,star,classification
15000,1222416996038736896,1425,234.042135,26.143544,53.341370,0.488869,1.106064,20.532417,0.134895,0.554190,677.328369,639,668,150.218842,0.999968,1.580732e-05,1.611936e-05,quasar
15001,2982520054500995968,5020,77.623782,-17.935231,-30.093843,0.434870,0.135293,20.084841,0.215603,0.434145,578.515076,600,592,186.302094,0.999761,6.464062e-07,2.385096e-04,quasar
15002,4010430900960880640,7160,185.829216,29.616016,83.334355,-0.026588,0.382972,19.692108,0.147488,0.337248,179.094589,178,235,120.882103,1.000000,3.918391e-08,5.273925e-09,quasar
15003,6520511218690724992,10201,337.531811,-44.824934,-56.766309,-0.244754,0.304025,19.518114,0.399748,0.568977,456.763550,455,474,92.850082,0.999418,2.952707e-04,2.866263e-04,quasar
15004,6255385056469235200,14400,233.245551,-17.794838,30.405358,0.259542,0.390901,19.625101,0.258673,0.308437,221.688248,221,267,169.348526,1.000000,4.358683e-07,6.664330e-08,quasar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2591148581356826368,43672305,18.379837,15.004495,-47.527848,-0.111283,0.227769,19.950802,0.253872,0.484562,173.701309,175,224,97.877213,0.999974,4.357769e-06,2.144649e-05,quasar
29996,1146149307549897472,43674473,134.134051,83.705825,30.257618,0.046263,0.037034,17.467607,0.162373,0.319386,355.047302,361,421,430.267670,0.999946,3.353672e-10,5.404832e-05,quasar
29997,828554132620402432,43674501,149.518371,53.414752,48.757576,0.367552,0.272514,20.266418,0.105604,0.310760,406.058411,370,369,167.324081,0.999651,1.653434e-06,3.477302e-04,quasar
29998,1581577593143779712,43677133,187.511998,60.601178,56.330061,0.275054,0.569204,19.904621,0.377867,0.666857,440.337463,386,413,207.389847,0.999877,1.200947e-04,3.048053e-06,quasar
29999,4465414275733493376,43678626,247.038051,15.158728,38.461492,-0.767961,0.172642,19.930889,0.163784,0.513906,574.339294,537,547,80.518555,0.999973,3.103103e-06,2.396475e-05,quasar

In [19]:
query_galaxy_test = "SELECT TOP 150000 dr3.source_id, dr3.random_index, dr3.ra, dr3.dec, dr3.b, dr3.parallax, dr3.pm, dr3.phot_g_mean_mag, dr3.bp_g, dr3.g_rp,\
                dr3.astrometric_chi2_al, dr3.astrometric_n_good_obs_al, dr3.phot_g_n_obs, dr3.phot_g_mean_flux_over_error,\
                p.classprob_dsc_allosmod_quasar AS quasar, p.classprob_dsc_allosmod_galaxy AS galaxy,\
                p.classprob_dsc_allosmod_star AS star\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al > 5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_galaxy > 0.999\
        AND dr3.phot_g_mean_mag > 14.5\
        AND 0.3 + 1.1*dr3.bp_g - 0.29*POWER((dr3.bp_g),2) < dr3.g_rp\
        AND random_index > 159213675\
        ORDER BY dr3.random_index"

query_quasar_test = "SELECT TOP 150000 dr3.source_id, dr3.random_index, dr3.ra, dr3.dec, dr3.b, dr3.parallax, dr3.pm, dr3.phot_g_mean_mag, dr3.bp_g, dr3.g_rp,\
                dr3.astrometric_chi2_al, dr3.astrometric_n_good_obs_al, dr3.phot_g_n_obs, dr3.phot_g_mean_flux_over_error,\
                p.classprob_dsc_allosmod_quasar AS quasar, p.classprob_dsc_allosmod_galaxy AS galaxy,\
                p.classprob_dsc_allosmod_star AS star\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al >5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_quasar > 0.999\
        AND dr3.phot_g_mean_mag > 14.5\
        AND random_index > 146221976\
        ORDER BY dr3.random_index"

query_star_test = "SELECT TOP 150000 dr3.source_id, dr3.random_index, dr3.ra, dr3.dec, dr3.b, dr3.parallax, dr3.pm, dr3.phot_g_mean_mag, dr3.bp_g, dr3.g_rp,\
                dr3.astrometric_chi2_al, dr3.astrometric_n_good_obs_al, dr3.phot_g_n_obs, dr3.phot_g_mean_flux_over_error,\
                p.classprob_dsc_allosmod_quasar AS quasar, p.classprob_dsc_allosmod_galaxy AS galaxy,\
                p.classprob_dsc_allosmod_star AS star\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al >5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_star > 0.999\
        AND dr3.phot_g_mean_mag > 14.5\
        AND random_index > 69526\
        ORDER BY dr3.random_index"

In [20]:
data_test = vstack([get_data(query_galaxy_test), get_data(query_quasar_test), get_data(query_star_test)], join_type='exact')

INFO: Query finished. [astroquery.utils.tap.core]
INFO: Query finished. [astroquery.utils.tap.core]
INFO: Query finished. [astroquery.utils.tap.core]

In [21]:
data_test.write('test.dat', format='ascii', overwrite=True)

In [12]:
data_test = data_test.to_pandas()
data_test['classification'] = data_test[['quasar', 'galaxy', 'star']].idxmax(axis=1, skipna = True)

In [13]:
data_test[data_test['classification'] == 'galaxy']

,SOURCE_ID,random_index,ra,dec,b,parallax,pm,phot_g_mean_mag,bp_g,g_rp,astrometric_chi2_al,astrometric_n_good_obs_al,phot_g_n_obs,phot_g_mean_flux_over_error,quasar,galaxy,star,classification
0,4950889483062587904,159238637,34.194639,-42.071758,-67.058807,-2.078067,2.543930,20.135744,-1.128862,2.705559,1420.050781,368,443,145.003250,7.679842e-05,0.999594,3.290635e-04,galaxy
1,1488242731122474368,159243039,218.447100,40.238550,65.135585,0.790731,0.993177,19.126331,-1.356354,2.762798,1413.802856,364,362,92.233536,2.287943e-06,0.999998,1.551348e-07,galaxy
2,1049027727481959680,159249451,159.873587,62.141075,48.762568,0.750395,2.045037,20.531958,-1.198496,2.794353,1416.242554,387,388,132.348663,6.949028e-06,0.999992,5.576892e-07,galaxy
3,850312849258996608,159262094,160.875223,54.696748,53.937952,-0.960811,3.908659,20.639269,-0.711855,2.215580,848.799561,313,310,96.085533,1.683776e-04,0.999259,5.723233e-04,galaxy
4,1719516686967665536,159277724,188.845620,81.594256,35.511529,-0.319366,0.524191,18.851690,-1.340874,2.794218,1694.348389,317,359,95.877335,1.840947e-05,0.999976,6.078825e-06,galaxy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157747,1658004646391473664,1811649213,211.222168,56.994113,57.405945,-0.228226,1.858034,20.493168,-0.986641,2.542307,888.078735,257,353,84.976753,1.124922e-04,0.999878,9.948162e-06,galaxy
157748,776555929935756032,1811650041,163.835094,40.334504,62.667080,2.731644,1.734380,19.581669,-1.744375,3.149029,1103.852051,234,243,76.927658,1.519423e-07,0.999999,5.020190e-07,galaxy
157749,1492930224069572736,1811650721,215.835795,44.533599,64.673077,1.268888,1.555158,20.822645,-0.452555,2.118479,1126.115967,352,409,120.114174,2.982048e-04,0.999051,6.511678e-04,galaxy
157750,1758842060365330048,1811694345,319.044273,13.190467,-24.049652,-0.100893,0.201906,19.075546,-1.507254,2.856306,1219.873413,279,310,108.021767,1.342163e-04,0.999374,4.918143e-04,galaxy
157751,5676252903226364800,1811702323,140.610437,-21.566851,19.823089,-0.408078,1.045921,19.832455,-0.727497,2.261112,970.649109,342,374,161.108887,7.038516e-04,0.999010,2.858639e-04,galaxy

In [2]:
query_galaxy_count = "SELECT COUNT(*)\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al > 5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_galaxy > 0.999\
        AND dr3.phot_g_mean_mag > 14.5\
        AND 0.3 + 1.1*dr3.bp_g - 0.29*POWER((dr3.bp_g),2) < dr3.g_rp"

query_quasar_count = "SELECT COUNT(*)\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al >5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_quasar > 0.999\
        AND dr3.phot_g_mean_mag > 14.5"

query_star_count = "SELECT COUNT(*)\
        FROM gaiadr3.gaia_source as dr3\
        LEFT JOIN gaiadr3.astrophysical_parameters AS p USING (source_id)\
        WHERE dr3.parallax is not null\
        AND dr3.pm is not null\
        AND dr3.phot_g_mean_mag is not null\
        AND dr3.bp_g is not null\
        AND dr3.g_rp is not null\
        AND dr3.astrometric_chi2_al is not null\
        AND dr3.astrometric_n_good_obs_al >5\
        AND dr3.phot_g_n_obs is not null\
        AND dr3.phot_g_mean_flux_over_error is not null\
        AND p.classprob_dsc_allosmod_star > 0.999\
        AND dr3.phot_g_mean_mag > 14.5"

In [5]:
vstack([get_data(query_galaxy_count), get_data(query_quasar_count), get_data(query_star_count)], join_type='exact')

INFO: Query finished. [astroquery.utils.tap.core]
INFO: Query finished. [astroquery.utils.tap.core]
INFO: Query finished. [astroquery.utils.tap.core]

<Table length=3>
COUNT_ALL
  int64
----------
    172752
    621523
1301314924

In [6]:
# get_data(query_star_count)